.gitlab {
    fill: rgba(255,255,255,.7);
}

.gitlab:hover {
    fill: #fca326;
}

.measure-wide {
    max-width: 40em;
}

/* Links without underline */
a:any-link {
    text-decoration: none;
}

/* Inline code in slightly smaller font (normal text is 1.25rem) */
code {
    font-size: 1.15rem;
}

/* Block quote with left border */
blockquote
{
    font-style: normal;
    font-size: smaller;
    margin-left: 0em;
    border-left: 4px solid #CCC;
    padding-left: 8px;
}

/* Floating table of contents: sub-sections indented to the right */
li ol > li {
    font-size: smaller;
    margin-left: 1em;
}

/* Floating table of contents: inline code in smaller type */
li ol > li code {
    font-size: 0.875rem;
}
