{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <article class="flex-l flex-wrap justify-between mw8 center ph3">
    <header class="mt4 w-100">
      <aside class="instapaper_ignoref b helvetica tracked">
          {{/*
          CurrentSection allows us to use the section title instead of inferring from the folder.
          https://gohugo.io/variables/page/#section-variables-and-methods
          */}}
        {{with .CurrentSection.Title }}{{. | upper }}{{end}}
      </aside>
      <!-- VG: remove partial "social-share.html" -->
      <!-- VG: remove 'athelas' class to use default font -->
      <h1 class="f1 mt3 mb1">
        {{- .Title -}}
      </h1>
      <!-- VG: remove support for author name -->
      <!-- VG: remove date and reading time -->
    </header>
    <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray pr4-l w-two-thirds-l">
      {{- .Content -}}
      <!-- VG: remove partial "tags.html" -->
      <!-- VG: remove comments block -->
    </div>

    <aside class="w-30-l mt6-l">
      {{- partial "menu-contextual.html" . -}}
    </aside>

  </article>
{{ end }}
