{{ if .IsTranslated }}
<h4>{{ i18n "translations" }}</h4>
<ul class="pl0 mr3">
    {{ range .Translations }}
    <li class="list f5 f4-ns fw4 dib pr3">
        <a class="hover-white no-underline white-80" href="{{ .RelPermalink }}">{{ .Lang }}</a>
    </li>
    {{ end}}
</ul>
{{ end }}
