{{ $featured_image := .Param "featured_image"}}

{{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
{{ $featured_image := (trim $featured_image "/") | absURL }}
<!--- VG: change header class to 'contain' --->
<header class="contain bg-top" style="background-image: url('{{ $featured_image }}');">
  <!--- VG: change h1 font weight to 'fw6' --->
  <div class="{{ .Site.Params.cover_dimming_class | default "bg-black-60" }}">
    {{ partial "site-navigation.html" .}}
    <div class="tc-l pv4 pv6-l ph3 ph4-ns">
      <!--- VG: change h1 font weight to 'fw6' --->
      <!--- VG: change h1 color to plain 'white' --->
      <h1 class="f2 f-subheadline-l fw6 white mb0 lh-title">
        {{ .Title | default .Site.Title }}
      </h1>
      {{ with .Params.description }}
        <!--- VG: change h2 font weight to 'fw4' --->
        <!--- VG: change h2 color to plain 'white' --->
        <h2 class="fw4 f5 f3-l white measure-wide-l center mt3">
          {{ . }}
        </h2>
      {{ end }}
    </div>
  </div>
</header>
