<!-- button for source code -->
<a class="ba black-80 no-underline bg-animate hover-bg-black-20 br2 inline-flex items-center mr3 mb3 pv2 ph3" href="{{ .Site.Params.gitlab }}" title="{{ i18n "view_gitlab" }}">
  <span class="fab fa-gitlab f2 pr3"></span> <span>{{ i18n "view_gitlab" }}</span>
</a>
