<!-- button for zip archive -->
<a class="ba black-80 no-underline bg-animate hover-bg-black-20 br2 inline-flex items-center mr3 mb3 pv2 ph3" href="{{ .Site.Params.tgz_id }}" title="{{ i18n "title_tgz_archive" }}">
  <span class="fas fa-file-archive f2 pr3"></span> <span>{{ i18n "tgz_archive" }}</span>
</a>
