<!-- extract file name from zip_id -->
{{ $version := index (split .Site.Params.version_base " ") 0 }}

<!-- command to unzip archive -->
<pre><code>tar xzvf roger-base-{{ $version }}.zip -C /</code></pre>
