<!-- button for windows installer -->
<a class="ba black-80 no-underline bg-animate hover-bg-black-20 br2 inline-flex items-center mr3 mb3 pv2 ph3" href="{{ .Site.Params.exe_id }}" title="{{ i18n "title_windows_installer" }}">
  <span class="fab fa-windows f2 pr3"></span> <span>{{ i18n "windows_installer" }}</span>
</a>
